<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div class="center">
  <p>
    You can contact me at my E-Mail, <a href="mailto:saiwolf@swmnu.net" alt="My Email">
      saiwolf@swmnu.net</a>,
    or visit my <a href="https://github.com/saiwolf" alt="My Github" target="_blank">Github</a>.
  </p>
</div>
