<% provide(:title, "Index") %>
  <h1>Ticket App</h1>

  <h2>
    Showing all Tickets
  </h2>

  <table>
    <tr>
      <th>Ticket #</th>
      <th>Name</th>
      <th>Date submitted</th>
    </tr>

    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.reqname %></td>
        <td><%= ticket.created_at %></td>
        <td><%= link_to 'Show', ticket_path(ticket) %></td>
      </tr>
    <% end %>
  </table>
