<footer class="footer">
  <small>
    Just a silly little app by <a href="mailto:saiwolf@swmnu.net">Robert Cato</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
